.What{
    color: #F00;
}
.What2{
    color: #2400FF;
}
.What3{
    color: #00461C;
}
.paragraph1{
    color: #949494;
}
.paragraph2{
    color: #FF2929;
}.paragraph3{
    color: #000;
}
