.What{
    color: red;
}

.What2{
    color: blue;
    
    }
    .What3{
        color: #00461C;
    }
    
.paragraph1{
    color: gray;
}
    
.paragraph2{
    color: blue;
}
.What3{
    color: #00461C;
}
.paragraph3{
    color: #000;

}